body {
  margin: 0;
  padding: 0;
  font-family: Lato;
  font-style: normal;
  color: black;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f2f3fe;
}
.content .content-link {
  color: black;
  text-decoration: none;
  font-family: "Lato";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
}
.content {
  margin-right: 50px;
  display: flex;
  gap: 50px;
}
.fimage {
  margin-left: 50px;
}
h1 {
  font-family: Lato;
  font-size: 80px;
  font-weight: 700;
  margin-left: 50px;
  padding-top: 70px;
  margin-top: 0px;
  width: 50%;
}
h4 {
  font-family: Lato;
  font-size: 25px;

  font-weight: 500;
  margin-left: 50px;
}
.header-button {
  width: 150px;
  height: 40px;
  background-color: #527bb8;
  border-radius: 25px;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  margin-left: 50px;
  border: none;
}
.company-name {
  background-color: #f2f3fe;
  height: 530px;
}
.company-text {
  width: 50%;
}

.company-pics {
  width: 50%;
}
.company-about {
  text-align: center;
  font-family: Lato;
  font-size: 50px;

  font-weight: 700;
  margin-top: 70px;
}
.about-datails {
  text-align: center;
  font-family: Lato;
  font-size: 30px;

  font-weight: 500;
  margin-top: 50px;
}
.company-product {
  text-align: center;
  font-size: 50px;
  font-weight: 700;
  font-family: Lato;
  margin-top: 50px;
}
.service-container {
  display: flex;
  justify-content: space-between;
}

.services-box {
  width: 320px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.E-commerce {
  background-color: #fcf8e5;
}
.Digital-caddie {
  background-color: #fef6fb;
}
.Eagle-eyes {
  background-color: #e1f9f5;
}
.Services {
  margin-top: 70px;
}

.mx-50 {
  margin-left: 50px;
  margin-right: 50px;
}

.mt-60 {
  margin-top: 60px;
}

.service-box-with-line {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.line {
  width: 50%;
  height: 3px;
  background-color: black;
  border-radius: 4px;
  border: 2px solid black;
}
#our-clients {
  margin-bottom: 50px;
}
.client {
  margin-top: 70px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.clients-img {
  display: flex;
  justify-content: space-between;
}
.benefit {
  font-size: 50px;
  font-weight: 700;
  margin-top: 70px;
  margin-left: 20px;
}
.benefit-text {
  font-size: 25px;
  font-weight: 400;
  padding-top: 10px;
  margin-left: 20px;
}
.icons-name {
  font-size: 28px;
  font-weight: 600;
  padding-top: 10px;
}
.about-icons {
  font-size: 20px;
  font-weight: 400;
  padding-top: 10px;
}
#our-benefits {
  display: flex;
  background-color: #f3f4fb;
  margin-right: 50px;
}
.benefit-text {
  width: 50%;
}
.icons-box {
  display: flex;
  width: 50%;
  flex-wrap: wrap;
  margin-top: 70px;
  justify-content: space-between;
  gap: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
}
.benefit-box {
  width: 250px;
}
.feedback {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
}
.boxs {
  width: 250px;
  height: 200px;
  border: 1px solid black;
  background-color: #f1f5fb;
  font-size: 20px;
  font-weight: 300;
  padding: 20px 25px 40px 25px;
  overflow: auto;
}
.feedback-box {
  display: flex;
  justify-content: space-between;
}
.feedback-rating {
  font-size: 25px;
  font-weight: 400;
  padding-top: 30px;
}
.feedback-vectors {
  height: 150px;
  background-color: #355a92;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
}
.feedback-container {
  font-size: 30px;
  font-weight: 300px;
  color: white;
}
span {
  font-size: 20px;
  font-weight: 200;
  color: white;
}
#footer {
  background-color: #1b3b6c;
  height: 300px;
}
.social-pic {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding-top: 20px;
}
.footer-button {
  border-radius: 50%;
  background-color: #1b3b6c;
  width: 50px;
  height: 50px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-details {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 50px;
}
.footer-names {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 10px;
}
.Copyright {
  color: white;
  font-size: 10px;
  font-weight: 200px;
  padding-top: 30px;
  padding-left: 50px;
  text-align: center;
}
